.admin-page .my-control {
  margin-bottom: 20px;
}


.row {
    display: flex;

  }
  
  .column {
    flex: 50%;
    background-color: black;
  }
 
 .my-control label{
     color: white;
     display: grid;
     margin-left:auto ;
     margin-right: auto;
  }
  
  h2{color: white;
     padding-top: 20px;
  }

  h4{
      color: white;
      padding-top: 20px;
  }

  .my-coupons label{
      color:white ;
      font-weight: 600;
      display:grid;
  }